h1{

color:rgb(5, 5, 5);

}


universal
*{

margin:0;

padding:0;

box-sizing:border-box;

}


h6{

color:red;

}


.courseHeading{

color:green;

}
.courseHeading{
    background-color: black;
}


#mainBanner{

color:orange;

}


*{

font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.highlightText{

color:blue;

}

#websiteTitle{

color:red;

}

button{

background-color:green;

color:white;

}



Group Selector
h1,
h2{

color:blue;

}



section h6{

color:green;

}



section > h2{

color:red;

}



section > h1{

color:blue;

}

section h1{

font-style:italic;

}


h1 + p{

color:red;

}



h1 ~ p{

color:blue;

}



*{

font-family:Arial;

}

#pageHeading{

color:red;

}

.highlightText{

color:blue;

}

section > h2{

color:green;

}

section h2{

font-style:italic;

}


.profileCard{

border:2px solid blue;

}

.profileCard{

border-width:5px;

border-style:solid;

border-color:red;

}


.noticeBox{

border:3px dashed green;

}



.profileImage{

width:120px;

height:120px;

border-radius:50%;

}


.announcementCard{

width:250px;

padding:20px;

border:3px solid navy;

border-radius:12px;

}


.studentCard{

width:250px;

padding:20px;

border:2px solid blue;

border-top:4px dashed red;

border-radius:15px;

}