h1{

background-color:yellow;

}

.courseCard{

background-color:lightblue;

}

.paymentButton{

background-color:green;

color:white;

}


.loginContainer{

background-color:#f2f2f2;

padding:20px;

border-radius:10px;

}



.Example{
background-color: rgb(233, 111, 24);
padding: 5px;
border-radius: 5px;
}



.pageTitle{

background-color:gold;

}

.descriptionText{

background-color:lightgreen;

}

.submitButton{

background-color:navy;

color:white;

}


.heroBanner{

width:150px;

height:200px;

background-image:url("beautiful-nature-scenery-free-photo-2210x1473.jpg");

}


.offerBanner{

width:500px;

height:250px;

background-image:url("beautiful-nature-scenery-free-photo-2210x1473.jpg");

}


/* .newsBanner{

width:500px;

height:250px;

background-image:url("OIP.webp");

background-repeat:repeat;

} */


.newsBanner{

width:500px;

height:250px;

background-image:url("OIP.webp");

background-repeat:no-repeat;

}


.headerStrip{

width:500px;

height:200px;

background-image:url("images/line-pattern.png");

background-repeat:repeat-x;

}



.sidePanel{

width:300px;

height:400px;

background-image:url("images/sidebar-pattern.png");

background-repeat:repeat-y;
}




.welcomeBanner{

width:500px;

height:250px;

background-image:url("OIP.jfif");

background-repeat:no-repeat;

background-position:left;

}


.newsContainer{

width:800px;

height:200px;

background-color:lightblue;

}






































