body{
    background:#202124;
    color:white;
    font-family:Arial;
    margin:40px;
}

.dashboard{
    width:450px;
    margin:auto;
    padding:20px;
    border-radius:10px;
    background:#2d2d2d;
}

.dashboard img{
    display:block;
    margin:20px auto;
}

.dashboard h1{
    text-align:center;
    color:orange;
}

.dashboard p{
    padding:8px;
    border-bottom:1px solid gray;
}